.container {
  display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;         
  margin: 2rem auto;
  padding: 2rem;                
  max-width: 800px;             
  min-height: 300px;            
  border: 1px solid var(--mantine-color-dark-5);
  border-radius: 12px;          
  background-color: var(--mantine-color-dark-6);
}

.title {
  margin-top: 0;
  color: var(--mantine-color-white);
}
